@{
    ViewData["Title"] = "Contact - AnAr Solutions";
}
<h2>@ViewData["Title"]</h2>


<address>
    26, Narmada, Acharya Society<br />
    Warje, Pune India 411058<br />
    <abbr title="Phone">P:</abbr>
    +91 202 523 5915  
</address>

<address>
    <strong>Sales & Support:</strong> <a href="mailto:info@anarsolutions.com">info@anarsolutions.com</a><br />    
</address>
