@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-12 text-center">
        <h2>AnAr Solutions Sample code</h2>        
        <table>
            <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Mobile
                    </td>
                </tr>
                </thead>      
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Shivaji
                    </td>
                    <td>
                        1234567890
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Vilas
                    </td>
                    <td>
                        03265987401
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Ashish
                    </td>
                    <td>
                        9874569630
                    </td>
                </tr>
                <tr>
                    <td>
                        4
                    </td>
                    <td>
                        Swapnil
                    </td>
                    <td>
                        8087372775
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>
